extends layout

block content
	div.container
		div.jumbotron
			h1 hello! insistX!!
			p This is insisiX project keep working on it.
			p
				a(href='/reg').btn.btn-primary 注册
				a(href='/login').btn.btn-default 登陆


