extends layout
block content
	div.container
		form(role='form').form-horizontal
			div.form-group
				label(for='username').col-sm-2.control-label 用户名
				div.col-sm-10
					input(type='text', name='username').form-control#username

