doctype 5
html
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/reset.css')
		link(rel='stylesheet', href='/stylesheets/tv.css')
	body
		block content
		script(type='text/javascript', src='http://cdn.staticfile.org/jquery/2.0.3/jquery.js')
		script(type='text/javascript', src='/javascripts/tv.js')

