doctype 5
html
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/reset.css')
		link(rel='stylesheet', href='/stylesheets/tv.css')
	body
		block content
		script(type='text/javascript', src='/javascripts/tv.js')

