doctype 5
html
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/reset.css')
		link(rel='stylesheet', href='/stylesheets/list.css')
	body
		div.m-container.f-clearfix
			div.m-header.f-clearfix	喜剧
			div.m-mid.f-clearfix
				div.m-item
					img(src='/images/default_bg.png')
					div.m-des	电影名字
				div.m-item
					img(src='/images/default_bg.png')
					div.m-des    电影名字
				div.m-item
					img(src='/images/default_bg.png')
					div.m-des    电影名字
				div.m-item
					img(src='/images/default_bg.png')
					div.m-des    电影名字

		script(type='text/javascript', src='http://cdn.staticfile.org/angular.js/1.2.1/angular.min.js')
		script(type='text/javascript', src='/javascripts/list.js')
