extends layout
block content
	div.container
		div.m-ctrl.f-clearfix
			ul
				li.u-mode	模式一
				li.u-mode	模式二
				li.u-mode	模式三
		div.m-slide
			ol
				li.z-crt
					img(src='http://bigtu.eastday.com/img/201103/07/63/4119234681270964415.jpg')
				li.z-small.z-left
					img(src='http://upload.konggu.net/image/200903/20090313140343785.jpg')
				li.z-small.z-right
					img(src='http://www.dcischina.com/GetProductImage.ashx?ProID=1147')
