extends layout
block content
	div.container
		div.m-ctrl.f-clearfix
			ul
				li.u-mode(data-action=1)	模式一
				li.u-mode(data-action=2)	模式二
		div.m-slide
			ol
				li.z-crt
					img(src='http://bigtu.eastday.com/img/201103/07/63/4119234681270964415.jpg')
				li.z-small.z-left
					img(src='http://upload.konggu.net/image/200903/20090313140343785.jpg')
				li.z-small.z-right
					img(src='http://www.dcischina.com/GetProductImage.ashx?ProID=1147')
		div.m-hex
			div.hex(style='background-image:url("/images/2.jpg")')
				div.u-corner-a
				div.u-corner-b
			div.hex(style='background-image:url("/images/3.jpg")')
				div.u-corner-a
				div.u-corner-b
			div.hex(style='background-image:url("/images/4.jpg")')
				div.u-corner-a
				div.u-corner-b
			div.hex(style='background-image:url("/images/5.jpg")')
				div.u-corner-a
				div.u-corner-b
			div.hex.hex-gap(style='background-image:url("/images/6.jpg")')
				div.u-corner-a
				div.u-corner-b
			div.hex(style='background-image:url("/images/7.jpg")')
				div.u-corner-a
				div.u-corner-b
			div.hex(style='background-image:url("/images/8.jpg")')
				div.u-corner-a
				div.u-corner-b
			div.hex(style='background-image:url("/images/9.jpg")')
				div.u-corner-a
				div.u-corner-b
			div.hex(style='background-image:url("/images/10.jpg")')
				div.u-corner-a
				div.u-corner-b
			div.hex(style='background-image:url("/images/11.jpg")')
				div.u-corner-a
				div.u-corner-b
			div.hex(style='background-image:url("/images/12.jpg")')
				div.u-corner-a
				div.u-corner-b
